@page "/" 
@using ThreeDeeFrontend.Components
<PageTitle>3D Druck einfach gemacht</PageTitle>

@if (_isInitDone)
{
    switch (_isAuthenticated)
    {
        case true when _userId != "":
            <FileGrid UserId="@_userId"/>
            break;
        case true when _userId == "":
            <p>Something went wrong fetching your user id from the server. Please try again or contact support.</p>
            break;
        default:
            <LandingPage/>
            break;
    }
}
else
{
    <p>LOADING...</p>
}
