@attribute [Authorize]
<MudContainer MaxWidth="MaxWidth.Large">
    <h1> @Localization.PagesIndexTitle</h1>
    <div style="width: 100%; display: flex;">
        <div style="width: 100%; margin-right: 20px; ">
            <SearchBar 
                Search="@Vm.UpdateFilteredFiles" 
                SelectedSearchValue="@Vm.SelectedSearchValue" />
        </div>
        <div style="display: flex; flex-direction: row-reverse; align-items: flex-end; gap: 10px"> 
            <FileAccessFilter 
                FiletypeHasChanged="async f =>  await Vm.UpdateFilteredFiles(f)"
                Status="Vm.FileAccessStatus"
            />
        </div>
    </div>
    <MudGrid Style="margin-top: 25px;">
        @foreach (var file in Vm.FilteredFiles)
        {
            <MudItem xs="3" Style="padding: 0; margin: 0;">
                <MudContainer
                    Style="padding: 0; margin: 0;"
                    Class="d-flex align-center justify-center mud-width-full">
                    <FileCardPreview
                        File="@file"
                        ButtonClicked="OnButtonClicked"/>
                </MudContainer>
            </MudItem>
        }
    </MudGrid>
</MudContainer>

